.footer {
  padding: 70px 30px 50px;
  text-align: center;
}

.footer__copyright {
  margin: 30px 0 0;
  font-weight: 600;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
  }

  .footer__copyright {
    margin: 0;
  }
}
